[*.cs]

# CS0660: O tipo define os operadores == ou !=, mas não substitui o Object.Equals(object o)
dotnet_diagnostic.CS0660.severity = none

# CS0661: O tipo define os operadores == ou !=, mas não substitui o Object.GetHashCode()
dotnet_diagnostic.CS0661.severity = none
