<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MongoConnection" connectionString="mongodb://localhost/Wafclast?retryWrites=true"/>
    </connectionStrings>
    <appSettings>
        <add key="Token" value="asd"/>
        <add key="Prefix" value=""/>
        <add key="Environment" value=""/>
    </appSettings>
</configuration>
